<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

</head>
<body>

  <div class="ui container hide">
    <% if(error && error.length > 0){ %>
      <div class="ui red message" rolde="alert">
        <%= error %>
      </div>
    <% } %>
    <% if(success && success.length > 0){ %>
      <div class="ui green message" rolde="alert">
        <%= success %>
      </div>
    <% } %>
  </div>

    <div class="main-wrapper">
      <form class="form" action="/signup" method="post">
        <div class="title-wrapper">
          <h1><span class="talk">Word</span> <span class="ml">UP</span></h1>
          <p class="tagline">
            practice your second language with native speakers
          </p>
        </div>
          <span class="input input--haruki">
          <input class="input__field input__field--haruki" type="email" name="username" id="input-3" />
          <label class="input__label input__label--haruki" for="input-3">
            <span class="input__label-content input__label-content--haruki">Email</span>
          </label>
        </span>
        <span class="input input--haruki">
          <input class="input__field input__field--haruki" type="password" name="password" id="input-4" />
          <label class="input__label input__label--haruki" for="input-4">
            <span class="input__label-content input__label-content--haruki">Password</span>
          </label>
        </span>
        <div class="field">
        </div>
        <div class="button-wrapper">
          <button type="submit" id="register">Sign Up!</button>
          <button type="button" id="login">Login</button>
        </div>
        <div class="checkbox">
          <p>By using this site you agree to the <span class="tos">terms of service</span> and <span class="priv-pol">privacy policy</span></p>
        </div>

      </form>
    </div>
  <script src="/scripts/index.js"></script>
  <script src="/scripts/classie.js"></script>

<% include ../partials/footer %>
