.hide {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
}

.nav-bar {
  background-color: #313B72;
  min-height: 70px;
  margin-bottom: 0;
  display: flex;
}

.nav-bar.left {
  display: -webkit-box;
  display: -ms-flexbox;
  flex-basis: 50vw;
  display: flex;
  padding-left: 20px;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-bar.right {
  display: -webkit-box;
  display: -ms-flexbox;
  flex-basis: 50vw;
  display: flex;
  padding-right: 20px;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.item {
  margin: 0 15px;
}

.nav-bar span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.7em;
}

.nav-bar .t {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: white;
  padding-left: 10px;
  margin-bottom: -6px;
}

.nav-bar .ml {
  font-family: 'Galada', cursive;
  text-transform: capitalize;
  font-size: 2em;
  color: white;
  margin-bottom: -14px;
}

.search-button {
  height: 70px;
  width: 70px;
  border: none;
  text-align: right;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-icon {
  background-image: url(search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 30px;
  height: 30px;
}

.title-wrapper {
  background-color: #ED6A5A;
  min-height: 100px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-wrapper {
  display: block;
  width: 100%;
}

.title h1 {
font-family: 'Open Sans', sans-serif;
font-weight: 700;
letter-spacing: .2em;
font-size: 3.5em;
color: white;
text-align: center;
margin: 0;
width: 100%;
line-height: 100px;
text-transform: uppercase;
/*white-space: nowrap;*/
}

#userName, #logout {
  float: right;
}

.ui .message {
  z-index: 1;
}

.ui .message {
    -moz-animation-name: animateMessage;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: forwards;
    -moz-animation-duration: 4s;

    -webkit-animation-name: animateMessage;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: 4s;

    animation-name: animateMessage;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 4s;
}
@-webkit-keyframes animateMessage {
    0% {
        -webkit-transform: translateY(0px);
        opacity: 0;
    }
    25% {
      -webkit-transform: translateY(92px);
      opacity: 1;
    }
    75% {
      -webkit-transform: translateY(92px);
      opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0px);
        opacity: 0;
    }
}
@keyframes animateMessage {
    0% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 0;
    }
    25% {
      -webkit-transform: translateY(92px);
              transform: translateY(92px);
      opacity: 1;
    }
    75% {
      -webkit-transform: translateY(92px);
              transform: translateY(92px);
      opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        opacity: 0;
    }
}

.newMessages {
  text-align: center;
  line-height: 20px;
  background-color: rgba(237, 106, 90, 1);
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 6px;
  padding-right: 8px;
  padding-bottom: 4px;
  border-radius: 36%;
  border-bottom-left-radius: 12%;
}

#numNewMsgs {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255,255,255,0.85);
}

@media screen and (max-width: 900px) {
  .nav-bar {
    flex-wrap: wrap;
    /*height: auto;*/
    font-size: calc(7px + .8vw);
  }

  .nav-bar.left {
    flex-basis: 100vw;
    justify-content: space-around;
    margin: 0 auto;
  }

  .nav-bar.right {
    flex-basis: 100vw;
    justify-content: space-around;
    margin: 0 auto;
  }

  .title-wrapper {
    justify-content: center;
  }

  .title h1 {
    text-align: center;
    margin: 0 auto;
    line-height: 45px;
  }

}
