html, body {
  margin: 0;
}

body {
  background:
    linear-gradient(
      rgba(055,217,238,0.7),
      rgba(055,217,238,0.7)
      ),
    url('/stylesheets/front.jpg') no-repeat center top ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
  position: relative;
  text-align: center;
  color: white;
  font-size: 5em;
  top: 8.5vh;
}

.talk {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.ml {
  font-family: 'Galada', cursive;
  text-transform: capitalize;
  letter-spacing: 5px;

}

.tagline {
  position: relative;
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 3em;
  font-weight: 100;
  color: white;
  top: 7vh;
  text-align: center;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login-wrapper {
  position: absolute;
  width: 100vw;
  height: 100px;
  bottom: 13vh;
}

.login-form {
  position: relative;
  margin: auto;
  width: 53.5vw;
  height: 50px;
}

.faux-textinput {
  overflow: hidden;
  float: left;
  outline: none;
  width: 38.5vw;
  height: 50px;
  background-color: #FFCF6B
}

.reveal.div {
  float: left;
  outline: none;
  width: 38.5vw;
  height: 50px;
}

.email.input {
  position: absolute;
  outline: none;
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 50px;
  float: left;
  width: 38.5vw;
  border: none;
  background: none;
  line-height: 5vh;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.email.input, textarea {
  outline: none;
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-indent: 5%;
  height: 50px;
  font-weight: 100;
  font-size: 2.6em;
  color: #ffffff;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.email.input.up {
  pointer-events: none;
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: .4;
}

.password.input {
  position: relative;
  outline: none;
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 50px;
  float: left;
  width: 38.5vw;
  border: none;
  line-height: 5vh;
  background: none;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.password.input, textarea {
  outline: none;
  text-indent: 5%;
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 50px;
  font-weight: 100;
  font-size: 2.6em;
  color: #ffffff;

}

.password.input.up {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.signup-btn {
  outline: none;
  float: left;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 50px;
  padding: 0;
  border: none;
  padding: 9.501px;
  background: none;
  color: white;
  background-color: #FDBE3C
}

.signup-text {
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  position: absolute;
  text-align: center;
  float: left;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.signup-text.up {
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login {
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  position: relative;
  text-align: center;
  float: left;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.login.up {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.center-clicker {
  display: flex;
  width: 100vw;
  height: 50px;
  bottom: 8vh;
  position: absolute;
}

.clicker {
  position: relative;
  overflow-x: hidden;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  height: 50px;
  background: none;
}

.clicker:hover {
  cursor: pointer;
}

.text-container {
  text-align: center;
  height: 100%;
  width: 80px;
}

.login-text {
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  white-space: nowrap;
  font-weight: 100;
  font-size: 2.6em;
  line-height: normal;
  color: white;
  top: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.cancel-text {
  font-family: "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  color: white;
  line-height: normal;
  top: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.login-container {
  height: 100%;
  position: absolute;
}

.login-text-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  right: 100px;
  width: 100px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.login-text-container.active {
  right: 0;
  width: 100px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.cancel-container {
  height: 100%;
  position: absolute;
}

.cancel-text-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100px;
  left: 100px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.cancel-text-container.active {
  width: 100px;
  left: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  -webkit-text-fill-color: white ;
  -webkit-box-shadow: 0 0 0px 1000px #FFCF6B inset;
  transition: background-color 5000s ease-in-out 0s;
}
