body, html {
  background-color: #f9f9f9;
}

.title-wrapper {
  background-color: #7CF0FF;
  height: 200px;
  margin-top: 84px;
  margin-bottom: 40px;
}

.sixteen.wide.column h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: .2em;
  font-size: 7em;
  color: white;
  margin: 0;
  margin-top: -14px;
  margin-left: -6px;
  line-height: 200px;
  text-transform: uppercase;
}

.profile {
  float: left;
  margin-bottom: 40px;
}

.ui.fluid.card.blue {
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.ui.fluid.card.pink {
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.ui.fluid.card.yellow {
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.ui.fluid.card.blue:hover {
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.ui.fluid.card.pink:hover {
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.ui.fluid.card.yellow:hover {
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.image-wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui.fluid.card.blue img {
  display: inline-block;
  border-radius: 50%;
  border: 8px solid #37D9EE;
  padding: 13px;
  width: 78%;
}

.ui.fluid.card.pink img {
  display: inline-block;
  border-radius: 50%;
  border: 8px solid #EC008C;
  padding: 13px;
  width: 78%;
}

.ui.fluid.card.yellow img {
  display: inline-block;
  border-radius: 50%;
  border: 8px solid #FDBE3C;
  padding: 13px;
  width: 78%;
}

.info {
  color: #3d4451;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: .25em;
  font-size: 1.4em;
  margin-bottom: 0;
}

.content {
  background-color: white;
  border-color: white;
}

.info h4 {
  text-align: center;
  margin: 0;
  margin-top: 5px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 15px;
  margin-left: -14px;
  margin-right: -14px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: -5px;
  font-family: 'Libre Baskerville', serif;
  text-transform: capitalize;
  font-size: .9em;
  letter-spacing: 3px;
}

.languages {
  display: flex;
  flex-wrap: nowrap;
}

.speaks-container {
  margin-top: 20px;
  flex: 1;
}

.learning-container {
  margin-top: 20px;
  flex: 1;
  text-align: right;
}

.speaks-container h5 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: 400;
  text-transform: uppercase;
}

.learning-container h5 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: 400;
  text-transform: uppercase;
}

.speaks-container p {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: .15em;
  font-size: .9em;
  margin: 0;
}

.learning-container p {
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: .15em;
  font-size: .9em;
  margin: 0;
}

.spoken-languages {
  position: relative;
  text-align: left;
  margin-bottom: 0px;
}

.learning-languages {
  position: relative;
  text-align: left;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .learning-container li, .speaks-container li {
      font-size: 13px;
    }
}

[data-num="0"] {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: backwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 0.6s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: 0;
    animation-duration: 0.6s;
}

[data-num="1"] {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: backwards;
    -moz-animation-delay: .05s;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: .05s;
    -webkit-animation-duration: 0.6s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .05s;
    animation-duration: 0.6s;
}

[data-num="2"] {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: backwards;
    -moz-animation-delay: .1s;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: .1s;
    -webkit-animation-duration: 0.6s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .1s;
    animation-duration: 0.6s;
}

[data-num="3"] {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: backwards;
    -moz-animation-delay: .15s;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: .15s;
    -webkit-animation-duration: 0.6s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .15s;
    animation-duration: 0.6s;
}

[data-num="4"] {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: backwards;
    -moz-animation-delay: .2s;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: .2s;
    -webkit-animation-duration: 0.6s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .2s;
    animation-duration: 0.6s;
}

[data-num="5"] {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: backwards;
    -moz-animation-delay: .25s;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: .25s;
    -webkit-animation-duration: 0.6s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .25s;
    animation-duration: 0.6s;
}

[data-num="6"] {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: backwards;
    -moz-animation-delay: .3s;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: .3s;
    -webkit-animation-duration: 0.6s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .3s;
    animation-duration: 0.6s;
}

[data-num="7"] {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: backwards;
    -moz-animation-delay: .35s;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: .35s;
    -webkit-animation-duration: 0.6s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .35s;
    animation-duration: 0.6s;
}

[data-num="8"] {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: backwards;
    -moz-animation-delay: .4s;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: .4s;
    -webkit-animation-duration: 0.6s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .4s;
    animation-duration: 0.6s;
}

[data-num="9"] {
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: backwards;
    -moz-animation-delay: .45s;
    -moz-animation-duration: 0.6s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-delay: .45s;
    -webkit-animation-duration: 0.6s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    animation-delay: .45s;
    animation-duration: 0.6s;
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(80px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
