/* Coolors Exported Palette - coolors.co/5ecfde-fc9f5b-d7263d-bcd2ee-33ca7f */

/* HSL */
$color1: hsla(187%, 66%, 62%, 1);
$color2: hsla(25%, 96%, 67%, 1);
$color3: hsla(352%, 70%, 50%, 1);
$color4: hsla(214%, 60%, 84%, 1);
$color5: hsla(150%, 60%, 50%, 1);

/* RGB */
$color1: rgba(94, 207, 222, 1);
$color2: rgba(252, 159, 91, 1);
$color3: rgba(215, 38, 61, 1);
$color4: rgba(188, 210, 238, 1);
$color5: rgba(51, 202, 127, 1);