/* Coolors Exported Palette - coolors.co/5ecfde-ed6a5a-524948-57467b-f4fec1 */

/* HSL */
$color1: hsla(187%, 66%, 62%, 1);
$color2: hsla(7%, 80%, 64%, 1);
$color3: hsla(6%, 6%, 30%, 1);
$color4: hsla(259%, 27%, 38%, 1);
$color5: hsla(70%, 97%, 88%, 1);

/* RGB */
$color1: rgba(94, 207, 222, 1);
$color2: rgba(237, 106, 90, 1);
$color3: rgba(82, 73, 72, 1);
$color4: rgba(87, 70, 123, 1);
$color5: rgba(244, 254, 193, 1);