/* Coolors Exported Palette - coolors.co/5ecfde-594236-f6efa6-00bd9d-5497a7 */

/* HSL */
$color1: hsla(187%, 66%, 62%, 1);
$color2: hsla(21%, 24%, 28%, 1);
$color3: hsla(55%, 82%, 81%, 1);
$color4: hsla(170%, 100%, 37%, 1);
$color5: hsla(192%, 33%, 49%, 1);

/* RGB */
$color1: rgba(94, 207, 222, 1);
$color2: rgba(89, 66, 54, 1);
$color3: rgba(246, 239, 166, 1);
$color4: rgba(0, 189, 157, 1);
$color5: rgba(84, 151, 167, 1);