/* Coolors Exported Palette - coolors.co/5ecfde-ed6a5a-524948-479b5d-f4fec1 */

/* HSL */
$color1: hsla(187%, 66%, 62%, 1);
$color2: hsla(7%, 80%, 64%, 1);
$color3: hsla(6%, 6%, 30%, 1);
$color4: hsla(136%, 37%, 44%, 1);
$color5: hsla(70%, 97%, 88%, 1);

/* RGB */
$color1: rgba(94, 207, 222, 1); // Medium turquoise
$color2: rgba(237, 106, 90, 1); // Terra Corra
$color3: rgba(82, 73, 72, 1);   // Quartz
$color4: rgba(71, 155, 93, 1);  // Middle Green
$color5: rgba(255, 231, 76, 1); // Gargoyle Gas (yellow)
          #FFFCEE // Floral white (pale for background)
          #F0FAFC; // ligt blue for background
