/* Coolors Exported Palette - coolors.co/5ecfde-ffe74c-ff5964-ffffff-38618c */

/* HSL */
$color1: hsla(187%, 66%, 62%, 1);
$color2: hsla(52%, 100%, 65%, 1);
$color3: hsla(356%, 100%, 67%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(211%, 43%, 38%, 1);

/* RGB */
$color1: rgba(94, 207, 222, 1);
$color2: rgba(255, 231, 76, 1);
$color3: rgba(255, 89, 100, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(56, 97, 140, 1);